__pycache__/
*.py[cod]
*$py.class

/ref_paper
/robots/data
/Project_BROV
/step_1_NBV/wandb
/step_1_NBV/checkpoints*
/step_1_NBV/recon_output
/step_1_NBV/recon_output_base
/recon_output*
/step_1_NBV/analysis*
/step_1_NBV/logs
/step_1_NBV/voxel_vis
/step_2_BROV/plots
/step_2_BROV/videos
/step_2_BROV/logs/*
/step_2_BROV/wandb/*
/step_2_BROV/stage2_results
/step_2_BROV/stage3_results
/step_2_BROV/deploy.zip
/step_3_NBV_BROV/debug_images
.idea